.s1{
	padding: 80px 0;
	position: relative;
}
.s1 .wrap{
	position: relative;
}
.s1__text{
	display: flex;
	flex-direction: column;
	width: 60%;
}
.s1__text .title{
	margin-bottom: 30px;
}
.s1__text ul li{
	font-size: 22px;
	list-style: none;
	margin-bottom: 5px;
}
.s1__text ul li:before{
	content: "—";
	margin: 0 10px;
}
.s1 img{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-40%);
	width: 50%;
	z-index: -1;
}
.s1 button{
	margin-top: 50px;
	margin-bottom: 10px;
}
.s1 span{
	font-size: 14px;
	line-height: 19px;
}


.s2{
	position: relative;
	padding: 150px 0;
}
.s2__fon{
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	top: -20%;
	transform: rotate(-5deg);
	width: 100%;
}
.s2 .title{
	margin-bottom: 70px;
}
.s2__wrap{
	margin-top: 60px;
	display: flex;
}
.s2__item{
	width: calc(100% / 2);
}
.s2__item div{
	font-weight: 600;
}


.voz{
	padding: 100px 0;
	padding-bottom: 20px;
}
.voz .title{
	margin-bottom: 80px;
}
.voz__wrap{
	display: flex;
	flex-wrap: wrap;
}
.voz__title{
	margin-bottom: 20px;
	font-size: 22px;
	line-height: 30px;
	font-weight: 600;
}
.voz__text{
	font-size: 16px;
	line-height: 22px;
}
.voz__item{
	width: calc(100% / 3);
	padding: 10px 20px;
	margin-bottom: 80px;
	position: relative;
}
.voz__item:before{
	content: "";
	display: block;
	width: 46px;
	height: 39px;
	position: absolute;
	top: -5px;
	left: 0px;
	background: linear-gradient(271.61deg, #FC8131 1.16%, #FE9544 98.84%);
	box-shadow: inset 5px 5px 11px rgba(252, 129, 49, 0.5);
	border-radius: 5px;
	z-index: -2;
}
.voz__item:after{
	content: "";
	display: block;
	width: 46px;
	height: 39px;
	position: absolute;
	top: 0px;
	left: 5px;
	background: #ffffff;
	border-radius: 5px;
	z-index: -1;
	box-shadow: 0px 10px 20px rgba(56, 106, 216, 0.1);
}



.forho{
	padding: 150px 0;
	padding-top: 100px;
}
.forho .title{
	width: 100%;
}
.forho__wrap{
	margin: 0 -10px;
	width: 50%;
	display: flex;
	height: max-content;
	flex-wrap: wrap;
	margin-top: 100px;
}
.forho__wrap a{
	display: flex;
	justify-content: center;
	width: calc(100% / 2 - 20px);
	margin: 0 10px;
	margin-bottom: 30px;
	background-color: #ffffff;
	padding: 12px 10px;
	box-shadow: 0px 5px 20px rgba(56, 106, 216, 0.1);
	border-radius: 10px;
	transition: 0.3s all;
	position: relative;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
}
.forho__wrap a img{
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	opacity: 0;
	transition: 0.3s all;
}
.forho__wrap a:hover{
	padding-right: 25px;
	background: #F8F9FD;
	box-shadow: 0px 5px 25px rgba(56, 106, 216, 0.2);
}
.forho__wrap a:hover img{
	width: auto;
	opacity: 1;
}
.forho .wrap{
		display: flex;
		flex-wrap: wrap;
}
.forho__fon{
	width: 50%;
}

/* TABS */
.stabs{
	position: relative;
}
.stabs .title{
	margin-bottom: 50px;
}
.tab_item { display: none; }
.tab_item:first-child { display: block; }
.tab.active{
	color: inherit;	
}
.tab{
	width: 150px;
	font-weight: 600;
	display: inline-block;
	transition: 0.3s all;
	font-size: 22px;	
	line-height: 30px;
	cursor: pointer;
	margin-right: 60px;
	color: #C8C8C8;
}
.tab:hover{
	color: inherit;
}
.tab.active::after {
    content: "";
    margin-top: 10px;
    display: block;
    height: 1px;
    width:70%;
    transition: 0.3s all;
    background: -webkit-linear-gradient(174.38deg, #FC8131 1.16%, #FE9544 98.84%);
    background: -o-linear-gradient(174.38deg, #FC8131 1.16%, #FE9544 98.84%);
    background: linear-gradient(275.62deg, #FC8131 1.16%, #FE9544 98.84%);
}
.tab::after {
    content: "";
    display: block;
    height: 1px;
     margin-top: 10px;
    transition: 0.3s all;
    width: 0px;
    background: -webkit-linear-gradient(174.38deg, #FC8131 1.16%, #FE9544 98.84%);
    background: -o-linear-gradient(174.38deg, #FC8131 1.16%, #FE9544 98.84%);
    background: linear-gradient(275.62deg, #FC8131 1.16%, #FE9544 98.84%);
}
.tab_content{
	padding: 65px 0;
}
.tab_item_wrap{
	display: flex;
}
.tab_item ul{
	width: 50%;
	padding-left: 30px;
}
.tab_item ul li{
	list-style: none;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 27px;
	position: relative;
}
.tab_item ul li:before{
	content: "—";
	left: -35px;
	top: 12px;
	transform: translateY(-50%);
	position: absolute;
	display: inline-block;
	margin: 0 10px;
	font-size: 14px;
}
.tab_img{
	width: 50%;
}
.tabsfon{
	position: absolute;
	bottom: -50%;
	z-index: -1;
	width: 100%;
}



.perevagi .title{
	margin-bottom: 77px;
}
.perevagi__item{
	margin-bottom: 100px;
	display: flex;
	width: 50%;
	padding-right: 20px;
}
.perevagi__item__img {
    min-width: 80px;
    margin-right: 30px;
    height: 68px;
    display: flex;
    padding: 0 10px;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(56, 106, 216, 0.1);
    border-radius: 10px;
}
.perevagi__item__img img {
    margin-top: -25px;
}

.perevagi__i__title{
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 10px;
}
.perevagi__i__text ul{
	padding-left: 30px;
}
.perevagi__i__text ul li{
	list-style: none;
	margin-bottom: 10px;
	font-size: 15px;
	position: relative;
}
.perevagi__i__text ul li:before{
	content: "—";
	margin: 0 10px;
	left: -35px;
	position: absolute;
}
.perevagi_wrap{
	display: flex;
	flex-wrap: wrap;
}

.shema{
	padding: 50px 0;
}
.shema .title{
	margin-bottom: 80px;
}
.shema img{
	width: 100%;
}


.dopv{
	padding: 70px 0;
	position: relative;
	overflow-x: all;
	overflow-y: visible;
}
.dropv__fon{
	transform: rotate(5.11deg);
	position: absolute;
	z-index: -2;
	bottom: -60%;
	min-width: 110%;
}
.dopv .title{
	margin-bottom: 100px;
}
.dopv__wrap{
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
}
.dopv__big{
	width: calc(100% / 2 - 20px);
	margin: 0 10px;
}
.dopv__mini{
	width: calc(100% / 3 - 20px);
	margin: 0 10px;
}
.dopv__item{
	height: 256px;
	position: relative;
	background: #FFFFFF;
	border: 0.5px solid #0B1E73;
	box-sizing: border-box;
	box-shadow: 0px 10px 20px rgba(56, 106, 216, 0.2);
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 20px;
	border-left: 0;
}
.dopv__link{
	display: flex;
	justify-content: flex-end;
	margin-top: 5px;
}
.dopv__item:before{
	content: "";
	z-index: -1;
	position: absolute;
	left: -7px;
	top: 0;
	display: block;
	width: 100px;
	height: 255px;
	background: linear-gradient(180deg, #45AAF2 7.42%, #3868D6 96.09%);
	border-radius: 10px 0 0 10px;
}
.dopv__item p{
	font-size: 14px;
	line-height: 19px;
	max-width: 415px;
	height: 95px;
	overflow: hidden;
	color: #000000;

}
.dopv__title{
	max-width: 90%;
	height: 67px;
	font-weight: 600;
	font-size: 25px;
	line-height: 34px;
	margin-bottom: 10px;
}


.suport{
	padding: 100px 0;
}
.suport .title{
	margin-bottom: 75px;
}
.suport__wrap{
	display: flex;
	flex-wrap: wrap;
	padding: 28px 0;
}
.suport__title{
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 30px;
}
.suport__text{
	width: 50%;
	padding-right: 10px;
}
.suport__btn{
	cursor: pointer;
	background: #FFFFFF;
	border: 0.5px solid #0B1E73;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 15px 20px;
	font-weight: 600;
	font-size: 18px;
	transition: 0.3s all;
	margin-top: 40px;
}
.suport__btn:hover{
	box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}
.suport__img{
	width: 50%;
}
.suport__img img{
	width: 100%;
}
.suport__item{
	display: flex;
	align-items: center;
}
.suport__p{
	max-width: 90%;
}
.suport__p a{
	text-decoration: underline;
	white-space: nowrap;
}
.suport__item.revers .suport__text{
	padding-left: 10px;
	padding-right: 0;
}
.suport__text a{
	margin-top: 20px;
}
.feedback__text{
	text-align: center;
	font-weight: 600;
	font-size: 18px;
}
.feedback input{
	display: none;
}
.feedback label{
	cursor: pointer;
	margin: 0 30px;
	font-size: 18px;
	display: flex;
	align-items: center;
}
.feadback__wrap{
	margin-bottom: 45px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.feadyes:before{
	content: "";
	display: block;
	background-color: #0B1E73;
	width: 29.6px;
	height: 29.06px;
	margin-top: -7px;
	margin-right: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-mask-image: url(../img/yes.svg);
}
.feadno:before{
	content: "";
	display: block;
	background-color: #0B1E73;
	width: 29.5px;
	height: 29.06px;
	margin-right: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-mask-image: url(../img/no.svg);
}
.feadno.active:before{
	background-color: #FC8131;
}
.feadyes.active:before{
	background-color: #FC8131;
}
.feedback__content{
	width: 100%;
	margin-bottom: 55px;
	display: flex;
	justify-content: center;
	display: none;
}
.feedback__content textarea{
	width: 750px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	resize: none;
	background: #FFFFFF;
	padding: 15px;
	font-family: OpenSans, sans-serif;
	font-size: 18px;
	line-height: 24px;
	border: 1px solid #0B1E73;
	box-sizing: border-box;
	border-radius: 3px;
	height: 110.92px;
	margin-bottom: 44px;
}
.feedback__content textarea::placeholder{
	font-family: OpenSans, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #A5B0C2;	
}
.feedback__content button{
	left: -31%;
	position: relative;
    transform: translate(50%, 20px);
}
.p-document.section5{
	margin-bottom: 85px;
	margin-top: 150px;
}

@media(max-width: 1200px){
	.forho__wrap a{
		font-size: 18px;
	}
	.feedback__content button{
		left: -48%;
	}
}
@media(max-width: 1023px){
	.s1__text{
		width: 80%;
	}
	.s2{
		padding: 80px 0;
	}
	.voz__item{
		width: calc(100% / 2);
	}
	.forho{
		padding: 100px 0;
		padding-top: 0px;
	}
	.forho__wrap{
		width: 100%;
		margin-top: 50px;
	}
	.forho__wrap a{
		justify-content: flex-start;
	}
	.forho__wrap a img{
		opacity: 1;
		width: auto;
	}
	.forho__fon{
		display: none;
	}
	.tab{
		width: 115px;
		margin-right: 50px;
	}
	.tab_item_wrap{
		flex-direction: column;
	}
	.tab_item ul{
		width: 100%;
	}
	.tab_img{
		width: 100%;
	}
	.perevagi__item{
		width: 100%;
	}
	.dopv__item{
		width: 100%;
		height: auto;
	}
	.dopv__title{
		max-width: 100%;
		height: auto;
		display: flex;
		margin-bottom: 0;
		justify-content: space-between;
		align-items: center;
	}
	.dopv__title:after{
		content: "";
		display: block;
		width: 19px;
		margin-left: 10px;
		height: 19px;
		border-right: 1px solid #0B1E73;
		border-bottom: 1px solid #0B1E73;
		transform: rotate(45deg);
		transition: 0.3s all;
	}
	.dopv__item.active .dopv__title:after{
		transform: rotate(-135deg);
	}
	.drop__content{
		display: none;
	}
	.dopv__item:before{
		height: 100%;
	}
	.dopv__item p{
		height: auto;
		margin-top: 20px;
	}
	.dopv .title{
		margin-bottom: 50px;
	}
	.suport{
		padding: 50px 0;
	}

	.section5{
		margin-top: 100px;
	}
	.s5__form{
		flex-direction: column-reverse;
	}
	.s5__left{
		width: 100%;
	}
	.s5__right{
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}
	.s5__fon{
		display: none;
	}
	.s5__form{
		padding-bottom: 90px;
		position: relative;
	}
	.s5__form button{
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
	.section5{
		margin-bottom: 50px;
	}
	.feadbtn{
		display: flex;
		justify-content: center;

	}
	.feedback__content button{
		left: auto;
		transform: translateX(0);
	}
}
.tab_mobtitle{
	display: none;
}
@media(max-width: 767px){
	.s1 img{
		width: 100%;
		position: relative;
		transform: translate(0, 0);
		margin-top: 25px;
	}
	.s1{
		padding: 50px 0;
	}
	.s1__text{
		width: 100%;
	}
	.s1__text ul li{
		font-size: 16px;
	}
	.s2__item{
		padding: 0 23px;
	}

	.voz__item{
		width: 100%;
		margin-bottom: 50px;
	}
	.voz__title{
		font-size: 20px;
	}
	.tab_item{
		display: block;
	}
	.tab_item_wrap{
		display: none;
	}
	.tabs{
		display:none;
	}
	.tab_mobtitle{
		display: block;
		font-size: 16px;
		line-height: 22px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;
		padding-right: 10px;
		padding-top: 20px;
		border-bottom: 0.5px solid #515154;
		transition: 0.3s all;
	}
	.tab_mobtitle.active{
		border-bottom: 0;

		font-size: 18px;
		margin-bottom: 10px;
		margin-top: 10px;
		font-weight: 600;
	}

	.tab_mobtitle:after{
		content: "";
	    display: block;
	    width: 15px;
	    transition: 0.3s all;
	    margin-left: 10px;
	    height: 15px;
	    border-right: 1px solid #0B1E73;
	    border-bottom: 1px solid #0B1E73;
	    transform: rotate(45deg);
	}
	.tab_mobtitle.active:after{
		transform: rotate(-135deg);
	}
	.tab_item ul li{
		font-size: 14px;
		line-height: 19px;
	}
	.tab_content{
		padding: 15px 0;
	}
	.stabs .title{
		margin-bottom: 0;
	}
	.stabs{
		margin-bottom: 80px;
	}
	.tabsfon{
		display: none;
	}


	.shema{
		padding-top: 0;
	}
	.shema .title {
		margin-bottom: 50px;
	}


	.dopv__title:after{
		margin-left: 20px;
	}
	.dopv__title{
		font-size: 18px;
		line-height: 25px;
	}
	.dopv{
		padding: 50px 0;
	}

	.suport .title{
		margin-bottom: 20px;
	}
	.suport__item{
		position: relative;
	}
	.suport__img{
		position: absolute;
		top: 0;
		width: max-content;
	}
	.suport__img img{
		width: 80px;
	}
	.suport__text{
		width: 100%;
	}
	.suport__title{
		padding-left: 85px;
		margin-top: 30px;
	}
	.suport__btn{
		display: none;
	}
	.suport__item{
		margin-bottom: 40px;
	}
	.suport__wrap {
		padding: 35px 0;
	}
	.p-document.section5{
		margin-top: 50px;
	}
	.s5__img{
		right: 20px;
	}
	.suport__p{
		margin-top: 10px;
		max-width: 100%;
	}
	.feedback__content textarea{
		width: 100%;
	}
}

@media(max-width: 559px){
	.s1{
		padding-bottom: 0;
		padding-top: 30px;
	}
	.s2{
		padding: 50px 0;
		padding-bottom: 0;
	}
	.s1 img{
		z-index: 1;
	}
	.s1 button{
		display: none;
	}
	.s1 span{
		display: none;
	}
	.s1__text ul li:before{
		margin: 0 3px;
		font-size: 10px;
		position: relative;
    	bottom: 3px;
    	left: -2px;
	}
	.s2__fon{
		display: none;
	}
	.s2 .title{
		max-width: 70%;
		margin-bottom: 20px;
	}
	.s2__item{
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	.s2__wrap{
		flex-wrap: wrap;
		margin-top: 30px;
	}
	.voz .title{
		margin-bottom: 50px;
	}
	.voz{
		padding: 50px 0;
	}
	.voz__item{
		padding: 0;
	}
	.voz__item:before{
		left: -10px;
		top: -10px;
	}
	.voz__item:after{
		left: -5px;
		top: -5px;
	}
	.voz__title{
		padding-left: 5px;
	}
	.forho__wrap a{
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}
	.forho__wrap{
		margin: 0;
		margin-top: 35px;
	}


	.perevagi__item__img img{
		max-width: 40px;
    	max-height: 35px;
    	margin-top: -10px;
	}
	.perevagi__item__img{
		position: absolute;
	    min-width: 50px;
	    margin-right: 30px;
	    height: 40px;
	}
	.perevagi__i__title{
		margin-top: 5px;
		font-size: 16px;
		line-height: 22px;
		padding-left: 70px;
	}
	.perevagi__i__text{
		margin-top: 25px;
	}
	.perevagi .title{
		margin-bottom: 60px;
	}
	.perevagi__item{
		margin-bottom: 50px;
	}
	.shema .title{
		margin-bottom: 25px;
	}
	.shema {
		padding-bottom: 10px;
	}
	.dopv__item{
		padding: 15px;
	}
	.dopv__title{
		padding-right: 25px;
	}
	.dopv__title:after{
		position: absolute;
		right: 15px;
		width: 15px;
		height: 15px;
	}
	.dopv .title{
		margin-bottom: 25px;
	}
	.dopv{
		padding-bottom: 25px;
	}
	.suport__p{
		font-size: 14px;
		margin-top: 20px;
	}
	.suport__title{
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
	}


	.s5__to__input{
		flex-direction: column;
		margin-bottom: 0;
	}
	.s5__to__input input{
		margin-bottom: 15px;
	}
	.s5__img{
		width: 100px;
	}
	.s5__title{
		text-align: center;
	}
	.s5__right span{
		text-align: center;
	}
	.s5__right p{
		text-align: center;
	}
	.s5__form{
		padding: 10px;
		padding-bottom: 90px;
		padding-top: 40px;
	}
	.s5__title{
		font-size: 22px;
		line-height: 30px;
	}
	.feedback__content textarea::placeholder{
		font-size: 14px;
	}
	.feedback__content textarea{
		font-size: 14px;
		margin-bottom: 30px;
	}
	.tab_item ul li:before{
		top: 8px;
	}
}